@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-light" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-light" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="text-center">
    <div>
        <h1 class="display-4">Mc Capas</h1>
        <a href="https://wa.me/5521984048938" class="mb-5" target="_blank">Clique aqui para falar no WhatsApp!</a>

    </div>
    <div>
        <img src="/img/images.jpg" class="mt-5"/> 
    </div>
</div>
