
<h1>Política de Privacidade</h1>
<p>A MC Capas e Tapetes para Veículos respeita sua privacidade e se compromete a proteger as informações pessoais que você compartilha conosco. Esta Política de Privacidade descreve como coletamos, usamos e protegemos seus dados enquanto você utiliza nossos serviços.</p>
